$primary: #57b2db;
$secondary: #10374d;
$tertiary: #33b676;

//default colors

$black: #000000;
$white: #ffffff;

// grey shades

$bg-light-grey: #f2f2f2;
$grey: #707379;

// new colors

$blue-1: #22959a;
$blue-2: #1b364a;
$dark-blue: #2f5b97;
$light-blue: #cbd6e5;
$green: #83bd4a;
$light-green: #deeed2;
$maroon: #aa304e;
$brown: #c76f3f;

//gradient colors

$gradient-black: rgba(0, 0, 0, 0.5);
$gradient-blue: linear-gradient(45deg, rgb(192, 226, 242, 0.5), rgba(87, 178, 219, 0.6), rgba(16, 55, 77, 0.8));

// navbar

// $navbar-dark-color: $secondary !important;

$btn-info-color: $primary;
